<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="SNTRobot2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import SNTRobot2 urdf file -->
    <xacro:include filename="$(find snt_robot_description)/urdf/SNTRobot2.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="SNTRobot2.ros2_control.xacro" />


    <xacro:SNTRobot2_ros2_control name="SNT_HW" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
